@import url(./tailwind.css);
@import url(./variables.css);

* {
  transition: all 0.3s linear;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif; /* Inspired by Tailwind CSS's typeface */
}

.container {
  max-width: 1340px;
}
