:root {
  --background-color: #121212;
  --primary-color: #bb86fc;
  --secondary-color: #03dac6;
  --accent-color: #3700b3;
  --text-color: #e0e0e0;
  --text-muted-color: #a1a1a1;
  --border-color: #2c2c2c;
  --card-background-color: #1e1e1e;
}
